@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
   box-sizing: border-box;
}

body {
   padding: 0;
   margin: 0;
   font-family: 'Righteous', cursive;
}

:root {
   --color-1: #7eb8da;
   --color-2: #92ddea;
   --color-3: #ffa5d8;
   --color-4: #be9ddf;
   --color-5: #9579d1;
}

.wrapper {
   background: #000;
   line-height: 1;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

h1 {
   font-size: 70px;
   font-weight: 700;
   letter-spacing: 2px;
   text-transform: uppercase;
   width: -moz-min-content;    /* Firefox */
   width: -webkit-min-content; /* Chrome */
   width: min-content;
   margin: 0 auto;
   background: linear-gradient(219deg,var(--color-1) 19%,transparent 19%,transparent 21%,var(--color-2) 21%,var(--color-2) 39%,transparent 39%, transparent 41%,var(--color-3) 41%,var(--color-3) 59%,transparent 59%, transparent 61%,var(--color-4) 61%,var(--color-4) 79%,transparent 79%,transparent 81%,var(--color-5) 81%);
   background-clip: text;
  -webkit-background-clip: text;
   color: transparent;
}

.container {
   padding: 50px;   
   text-align: center;
   background: radial-gradient(circle at 3% 2% ,var(--color-1) 1%,transparent 1% ), 
     radial-gradient(circle at 6.5% 5.5%,var(--color-2) .5% ,transparent .5% ), 
     radial-gradient(circle at 4% 6%,var(--color-3) .6% ,transparent .6% ), 
     radial-gradient(circle at 6% 1.3%,var(--color-4) .35%,transparent .35% )
 }

